# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
.env.*

# DB
*.sqlite3
*.db
*.sql
*.dump

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
.DS_Store

# Model files
model_weights/

#model
*.pkl

#학습데이터
*.json
*.csv